<nav
  class="navbar navbar-expand-lg bg-body-tertiary"
  [dir]="currentLanguage === 'ar' ? 'rtl' : 'ltr'"
>
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" [routerLink]="['/']">{{
      currentLanguage == "ar" ? "زيد" : "Zaid"
    }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav mb-2 mb-lg-0"
        [ngClass]="{ 'me-auto': currentLanguage !== 'ar' }"
      >
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/']">{{
            currentLanguage == "ar" ? "الصفحة الرئيسية" : "Home"
          }}</a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            [routerLink]="['/users']"
          >
            {{ currentLanguage == "ar" ? " المستخدمين" : " Users" }}
          </a>
        </li>
        <li class="mt-2">
          ||
          {{
            currentLanguage == "ar" ? "اللغة الحالية:" : "Current Language :"
          }}
          {{ currentLanguage == "ar" ? "العربية" : "English" }}
        </li>
      </ul>
      <ul
        class="navbar-nav mb-2 mb-lg-0 ml-5"
        [ngClass]="{ 'me-auto': currentLanguage == 'ar' }"
        style="cursor: pointer"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ currentLanguage == "ar" ? "تغير اللغة" : "change language" }}
          </a>
          <ul class="dropdown-menu" style="cursor: pointer">
            <li>
              <a class="dropdown-item" (click)="changeLanguage('en')">
                {{ currentLanguage == "ar" ? "الانجليزية" : "English" }}
              </a>
            </li>
            <li>
              <a class="dropdown-item" (click)="changeLanguage('ar')">
                {{ currentLanguage == "ar" ? "العربية" : "Arabic" }}</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
