<app-header />

<!-- <p>The current lanugae is : {{ currentLanguage }}</p>
<a (click)="changeLanguage('en')" class="btn btn-primary">change to english</a>
<br />
<a (click)="changeLanguage('ar')" class="btn btn-primary">change to arabic</a> -->

<div class="language-container">
  <div class="current-language">
    <p>
      The current language is:
      <span id="currentLanguage">{{ currentLanguage }}</span>
    </p>
  </div>

  <div class="language-buttons">
    <a (click)="changeLanguage('en')" class="btn btn-primary mb-3"
      >Change to English</a
    >
    <a (click)="changeLanguage('ar')" class="btn btn-primary"
      >Change to Arabic</a
    >
  </div>
</div>
<p>the value of user : {{ userProfile }}</p>
<div *ngIf="userProfile">
  <div *ngFor="let profile of userProfile; let i = index">
    <h1>{{ profile.name }}</h1>

    <p><strong>Username:</strong> {{ profile.username }}</p>

    <p><strong>Email:</strong> {{ profile.email }}</p>

    <p>
      <strong>Address:</strong>
      {{ profile.address.street }}, {{ profile.address.suite }},
      {{ profile.address.city }},
      {{ profile.address.zipcode }}
    </p>

    <p><strong>Phone:</strong> {{ profile.phone }}</p>

    <p>
      <strong>Website:</strong>
      <a href="http://{{ profile.website }}" target="_blank">{{
        profile.website
      }}</a>
    </p>

    <p><strong>Company:</strong> {{ profile.company.name }}</p>
    <hr *ngIf="i !== userProfile.length - 1" />
  </div>

  <hr />
</div>

<button (click)="fetchProfile()">Fetch Profile</button>

<router-outlet />
